
* {
    max-width: 100%;
}

.container .question-container{
    margin: 0 -5px;
}

h1,h2,h3 {
    text-align: center;
}

.question-container {
/*    position: sticky;
    top: -10px;*/
}

figcaption h2 {
    text-align: left;
}


.navbar .container {
    text-align: center;
}

.navbar-brand {
    float:none;
    display:inline-block;
}

.table.centered * {
    text-align: center;
}

.well-response {
    font-size: 140%; 
    text-align: center; 
    max-width: 500px; 
    margin: 20px auto;
    display: none;
}

.points {
    visibility: hidden;
}

#response:target .well-response {
    display: block;
}
#response:target .points,
#response:target .vote {
    visibility: visible;
}

#response:target .btn-response,
#response:target .navbar-buttons {
    display: none;
}

.vote {
    visibility: hidden;
}

#votes:target .vote {
    visibility: visible;
}

#votes .showvotes,
#votes:target .hidevotes {
    display: inline-block;
}
#votes:target .showvotes,
#votes .hidevotes {
    display: none;
}

.btn-indice {
    float: right;
}

.navbar-buttons {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index:5;
}

#refresh {
    display: none;
}

#refresh+label+label {
    display: none;
}

#refresh:checked+label {
    display: none;
}
#refresh:checked+label+label {
    display: inline-block;
}

.histogram {
    width: 75%;  
    padding-top: 15px !important;
}

.histogram .progress, 
.histogram .progress-bar {
    height: 25px;
    min-width: 20px;
    margin: 0;
}

.scores {
    font-size: 120%;
}

.score-value {
    font-size: 130%;
    padding-top: .4em;
    padding-bottom: .2em;
    display: inline-block;
}

.scores .name {
    font-size: 130%;
    text-align: left;
}

.scores .name i {
    font-size: 140%;
}
